.limits {
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-family: 'Kanit', sans-serif;
    transition: ease-out 0.2s;
}
.countWrapper {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 4rem;
    font-family: 'Kanit', sans-serif;
    transition: ease-out 0.2s;
    user-select: none;
}
.btnWrapper {
    padding: 5px;
    display: flex;
    gap: 10px
}
.onlimit {
    color: var(--error-color)
}