@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

:root {
  --primary-color: #e9fdff;
  --secondary-color: #000000;
  --error-color: #e03b3b;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  height: 100vh;
  background-color: var(--primary-color);
}
.App > * {
  height: 350px;
  display: flex;
  align-items: center;
  padding: 25px;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}